<form id = "form" [formGroup]="userForm" (ngSubmit)="onsubmit()" >
    <h2>Login</h2>
    <div class="inputbox">
        
        <input type="email"  formControlName="email" required>
        <label for="">Email</label>
    </div>
    <div class="inputbox">
      
        <input type="password"  formControlName="password"  required>
        <label for="">Password</label>
    </div>
    <div class="forget">
        <label for=""><input type="checkbox">Remember Me  <a href="#">Forget Password</a></label>
      
    </div>
    <button>Log in</button>
    
    
</form>
